$lightgrey: rgb(160,160,160);
$midgrey: rgb(80,80,80);
$darkgrey: rgb(50,50,50);
$verydarkgrey: rgba(10,10,10,1);
$bgred: rgba(244,14,47,0.7);
$bgblue: rgba(46,23,224,0.7);

#compare {

	color: white;

	a {
		color: white;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.wrapper {
		position: absolute;
		left: 0px;
		top: 0px;
		display: block;
		background: #333333;
		width: 100%;
		height: 100%;

		.bgimage {
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
		}

		.inneroverlay {
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;
			-webkit-transition:	background .25s ease-in;
		   -moz-transition:		background .25s ease-in;
		   -o-transition:		background .25s ease-in;
		   transition:			background .25s ease-in;
		}

		.txtcontent {
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: absolute;

			.inner {
				width: auto;
				height: auto;
				padding: 20px;
			}
		}

		.content {
			display: none;
			margin-top: 20px;
			width: 450px;
		}

		.inner-left {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 50%;
			height: 100%;
			background: white;
			-webkit-transition: 	width .25s ease-in-out;
			-moz-transition: 		width .25s ease-in-out;
			-o-transition: 			width .25s ease-in-out;
			transition: 			width .25s ease-in-out;
			z-index: 990;

			&.isopen {
				width: 100%;
				z-index: 999;
				color: white;

				&:hover {
					.inneroverlay {
						color: white;
						background: $bgred;
					}
				}

				&:hover .txtcontent {
					color: white;
				}
			}

			.inneroverlay {
				background: $bgred;
			}

			&:hover {
				.inneroverlay {
					background: rgba(0,0,0,0);
				}
			}

			&:hover .txtcontent {
				color: black;
			}

		}

		.inner-right {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 50%;
			height: 100%;
			background: white;
			-webkit-transition: 	width .25s ease-in-out;
			-moz-transition: 		width .25s ease-in-out;
			-o-transition: 			width .25s ease-in-out;
			transition: 			width .25s ease-in-out;
			z-index: 990;

			&.isopen {
				width: 100%;
				z-index: 999;
				background: rgba(0,0,0,.8);
				color: white;

				&:hover .inneroverlay {
					color: white;
					background: $bgblue;
				}

				&:hover .txtcontent {
					color: white;
				}

			}

			.inneroverlay {
				background: $bgblue;
			}


			&:hover .inneroverlay {
				background: rgba(0,0,0,0);
			}

			&:hover .txtcontent {
				color: black;
			}


		}


	}

	#comparefooter {
		position: absolute;
		bottom: -25px;
		left: 0px;
		width: 100%;
		height: 25px;
		z-index: 999;
		-webkit-transition: 	bottom .25s ease-in-out;
		-moz-transition: 		bottom .25s ease-in-out;
		-o-transition: 			bottom .25s ease-in-out;
		transition: 			bottom .25s ease-in-out;

		&.show {
			bottom: 0px;
		}
		.footerleft {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 50%;
			height: 25px;
			background: $bgred;
			text-align: right;
			-webkit-transition: 	width .25s ease-in-out;
			-moz-transition: 		width .25s ease-in-out;
			-o-transition: 			width .25s ease-in-out;
			transition: 			width .25s ease-in-out;
		}

		.footerright {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 50%;
			height: 25px;
			background: $bgblue;
			text-align: left;
			-webkit-transition: 	width .25s ease-in-out;
			-moz-transition: 		width .25s ease-in-out;
			-o-transition: 			width .25s ease-in-out;
			transition: 			width .25s ease-in-out;
		}

		p {
			margin: 5px;
		}
	}

}
