<div id="compare" class="wrapper">
	<div class="inner-left">
		<div class="bgimage" style="background: url({{stories[1].imageUrls[0]}}); background-size: cover; background-position:center; "></div>
		<div class="inneroverlay"></div>
		<div class="txtcontent">
			<div class="inner">
				<h1>{{stories[1].title}}</h1>
			</div>
		</div>
	</div>
	<div class="inner-right">
		<div class="bgimage" style="background: url({{stories[1].imageUrls[1]}}); background-size: cover; background-position:center; "></div>
		<div class="inneroverlay"></div>
		<div class="txtcontent">
			<div class="inner">
				<h1>{{stories[0].title}}</h1>
			</div>
		</div>
	</div>
</div>